<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
</head>
<body>
<div th:fragment="headerFragment" class="navbar">
    <a href="/home">Home</a>
    <a href="/dice">Dice</a>
    <a href="/dice/new">Add dice</a>
    <a href="/bundle">Bundles</a>
    <a href="/bundle/new">Add bundle</a>
    <a href="/bundle/delete">Delete bundle</a>
</div>
</body>
</html>
