<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details for bundle</title>
</head>
<body>
<div class="navbar">
    <a href="/home">Home</a>
    <a href="/dice">Dice</a>
    <a href="/dice/new">Add dice</a>
    <a href="/bundle">Bundles</a>
    <a href="/bundle/new">Add bundle</a>
</div>
<h1>Details for bundle: <span th:text="${bundleToBeShown.bundleName}"></span></h1>


<table>
    <tr>
        <td>Title</td>
        <td th:text="${bundleToBeShown.bundleName}"></td>
    </tr>
    <tr>
        <td>Bundle id</td>
        <td th:text="${bundleToBeShown.bundleId}"></td>
    </tr>

</table>
</body>
</html>