<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details for bundle</title>
</head>
<body>
<div th:include="fragments/layout :: headerFragment"></div>
<h1>Details for bundle: <span th:text="${bundleToBeShown.bundleName}"></span></h1>


<table>
    <tr>
        <td>Title</td>
        <td th:text="${bundleToBeShown.bundleName}"></td>
    </tr>
    <tr>
        <td>Available quantity</td>
        <td th:text="${bundleToBeShown.numberOfAvailableBundleCopies}"></td>
    </tr>
    <tr>
        <td>Bundle id</td>
        <td th:text="${bundleToBeShown.bundleId}"></td>
    </tr>

</table>
</body>
</html>