<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all bundles</title>
</head>
<body>
<div class="navbar">
    <a href="/home">Home</a>
    <a href="/dice">Dice</a>
    <a href="/dice/new">Add dice</a>
    <a href="/bundle" aria-current="page">Bundles</a>
    <a href="/bundle/new">Add bundle</a>
</div>
<h1>Overview of all bundles</h1>

<table>
    <tr>
        <th>Bundle Id</th>
        <th>Bundle name</th>
        <th>Buy</th>
    </tr>
    <tr th:each="bundle : ${allBundle}">
        <td th:text="${bundle.bundleId}"></td>
        <td th:text="${bundle.bundleName}"></td>
        <td><a th:href="@{/copyBundle/new/{bundleId}(bundleId=${bundle.bundleId})}"></a></td>
    </tr>
</table>
</body>
</html>















