<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all bundles</title>
</head>
<body>
<div th:include="fragments/layout :: headerFragment"></div>
<h1>Overview of all bundles</h1>

<table>
    <tr>
        <th>Bundle Id</th>
        <th>Bundle name</th>
        <th>Available amount</th>
        <th>Buy</th>
    </tr>
    <tr th:each="bundle : ${allBundle}">
        <td th:text="${bundle.bundleId}"></td>
        <td><a th:href="@{/bundle/detail/{bundleName}(bundleName=${bundle.bundleName})}" th:text="${bundle.bundleName}"></a></td>
        <td th:text="${bundle.numberOfAvailableBundleCopies}"></td>
        <td><a th:href="@{/copyBundle/new/{bundleId}(bundleId=${bundle.bundleId})}">Buy another</a></td>
    </tr>
</table>
</body>
</html>















