<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all dice sets</title>
</head>
<body>
<div th:include="fragments/layout :: headerFragment"></div>
<h1>Overview of all dice sets</h1>

<table>
    <tr>
        <th>Dice Id</th>
        <th>Dice name</th>
        <th>Dice material</th>
        <th>Dice color</th>
        <th>Available</th>
        <th>Buy</th>
    </tr>
    <tr th:each="dice : ${allDice}">
        <td th:text="${dice.diceId}"></td>
        <td th:text="${dice.diceName}"></td>
        <td th:text="${dice.diceMaterial}"></td>
        <td th:text="${dice.diceColor}"></td>
        <td th:text="${dice.numberOfAvailableDice}"></td>
        <td><a th:href="@{dice/new/{diceId}(diceId=${dice.diceId})}">Buy another</a></td>
    </tr>
</table>
</body>
</html>