<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all dice sets</title>
</head>
<body>

<h1>Overview of all dice sets</h1>

<table>
    <tr>
        <th>diceId</th>
        <th>diceName</th>
        <th>diceColor</th>
        <th>diceMaterial</th>
    </tr>
    <tr th:each="dice : ${allDice}">
        <td th:text="${dice.diceId}"></td>
        <td th:text="${dice.diceName}"></td>
        <td th:text="${dice.diceColor}"></td>
        <td th:text="${dice.diceMaterial}"></td>
    </tr>
</table>
</body>
</html>