<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new dice set</title>
</head>
<body>
<div class="navbar">
    <a href="/dice">Back</a>
</div>
<h1>Create a new dice set</h1>

<form th:action="@{/dice/new}" method="post" th:object="${dice}">
    <table>
        <tr>
            <td><label for="diceName">Dice set name</label></td>
            <td><label for="diceMaterial">Material</label></td>
            <td><label for="diceColor">Color set</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="diceName" th:field="*{diceName}">
            </td>
            <td>
                <input type="text" id="diceMaterial" th:field="*{diceMaterial}">
            </td>
            <td>
                <input type="text" id="diceColor" th:field="*{diceColor}">
            </td>
        </tr>
    </table>

    <input type="submit" value="Save die">
</form>
</body>
</html>